.create-account-container {
  display: flex;
  justify-content: center;
  color: var(--dark-grey);
}

.create-account-card {
  border-radius: 5rem;
  background-image: linear-gradient(
    135deg,
    var(--rd-blue),
    var(--rd-lighter-blue)
  );
  margin-top: 5rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30rem;
}

.create-account-card > .form-elements,
.create-account-card > h2 {
  width: 30rem;
}

.create-account-form-elements {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 1rem 2rem;
}

.create-account-form-elements input {
  width: 25rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  border-style: none;
  border: 0.15rem solid transparent;
  margin-top: 0.8rem;
  padding: 0.2rem 0.6rem;
  cursor: pointer;
}

.create-account-form-elements input:hover {
  border: 0.15rem solid var(--bright-cyan);
  transition: 0.3s all;
}

.create-account-form-elements input:focus {
  outline: none;
  box-shadow: var(--focus-shadow);
  transition: 0.3s all;
}

.create-account-button {
  margin: 2rem auto;
  width: auto;
}

.create-account-sign-in {
  margin: 1rem 0;
}

.create-account-sign-in a {
  text-decoration: none;
  color: var(--bright-pink);
}

.create-account-sign-in a:hover {
  color: var(--white);
  transition: 0.3s all;
}

.create-account-sign-in p {
  margin: 0;
}

.create-account-error-message {
  color: var(--rd-orange);
  font-size: 1rem;
}
