.edit-your-pokemon-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  background-image: linear-gradient(135deg, var(--rd-blue), var(--rd-green));
  border-radius: 2rem;
}

.edit-your-pokemon-pokemon-container,
.edit-your-pokemon-moves-container,
.edit-your-pokemon-abilities-container {
  background-color: var(--white);
  border-radius: 1rem;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.6rem;
}

.edit-your-pokemon-pokemon-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-your-pokemon-moves-list,
.edit-your-pokemon-abilities-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.edit-your-pokemon-pokemon-container > h3,
.edit-your-pokemon-moves-container > h3,
.edit-your-pokemon-abilities-container > h3 {
  font-size: 1.6rem;
  text-align: center;
}

.edit-your-pokemon-pokemon-button {
  border-style: none;
  background-color: transparent;
  border-radius: 1rem;
  cursor: pointer;
}

.edit-your-pokemon-pokemon-button:hover {
  transform: translateY(-0.2rem) scale(1.03);
  border: 0.1rem solid var(--bright-pink);
  transition: all, 0.3s;
}

.edit-your-pokemon-selected > div > div {
  background-image: linear-gradient(180deg, var(--bright-pink), var(--black));
  color: white;
}

.edit-your-pokemon-button-container {
  display: flex;
  justify-content: center;
}

.edit-your-pokemon-link-container {
  width: 15rem;
  margin: 1rem;
}
