.home-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-top: 5rem;
}

.home-section {
  width: 100vw;
  height: 35rem;
}

.home-mirrored {
  display: flex;
  justify-content: flex-end;
}
