.navbar-container {
  background-color: var(--white);
  height: 5.5rem;
  position: relative;
}

.navbar-container ul {
  list-style-type: none;
  position: fixed;
  top: -2rem;
  left: 0;
  width: 100vw;
  background-color: var(--white);
  height: 6rem;
}

.navbar-container li {
  width: 10rem;
}

.navbar-container a {
  color: var(--dark-grey);
  text-decoration: none;
}

.navbar-container a:hover {
  color: var(--light-grey);
  transition: all 0.3s;
}

.navbar-home {
  position: absolute;
  top: 1.2rem;
  left: 4rem;
}

.navbar-start {
  position: absolute;
  top: 1.2rem;
  left: calc(50% - 100px);
  width: 10rem;
}

.navbar-user {
  position: absolute;
  top: 1.2rem;
  right: 4rem;
}
