.pokemon-draft-card-container {
  width: 22rem;
  border-radius: 2rem;
  height: 34rem;
  color: var(--dark-grey);
  font-size: 1.6rem;
}

.pokemon-draft-card-container p {
  margin: 0;
}

.pokemon-draft-card-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0.5rem;
}

.pokemon-type-container div {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.pokemon-draft-card-image img {
  width: 6rem;
  height: auto;
}

.pokemon-draft-card-moves-container {
  font-size: 1.2rem;
  width: 20rem;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1rem 0.2rem;
  margin: 1rem auto;
  text-align: center;
}

.pokemon-draft-card-move {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.6rem 1.2rem;
}

.pokemon-draft-card-ability-container {
  font-size: 1.2rem;
  width: 20rem;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1rem 0.2rem;
  margin: 1rem auto;
  text-align: center;
}

.pokemon-name {
  font-weight: 700;
  padding: 0 0.4rem;
}

.moves-title,
.ability-title {
  font-weight: 700;
  padding-bottom: 0.4rem;
}

.ability-name {
  text-decoration: underline;
  padding-bottom: 0.2rem;
}

.ability-description {
  font-size: 1rem;
}

.pokemon-draft-card-orange {
  background-image: linear-gradient(
    135deg,
    var(--rd-orange),
    var(--rd-lighter-orange)
  );
}

.pokemon-draft-card-blue {
  background-image: linear-gradient(
    135deg,
    var(--rd-blue),
    var(--rd-lighter-blue)
  );
}

.pokemon-draft-card-green {
  background-image: linear-gradient(
    135deg,
    var(--rd-green),
    var(--rd-lighter-green)
  );
}
