.select-a-pokemon-container {
  margin-bottom: 6rem;
}

.select-a-pokemon-selection-container {
  display: flex;
  justify-content: space-between;
  margin: 6rem 10rem;
}

.select-a-pokemon-selection-container input {
  display: block;
  width: 15rem;
  margin: auto 0;
  border-radius: 15rem;
}

.select-a-pokemon-interactable-element:hover {
  animation: pokeball-touch 0.8s ease-out infinite;
  transition: all 0.3s;
}

.select-a-pokemon-non-interactable-element {
  animation: pokeball-open 1.2s ease-out;
  transition: all 1.2s;
}

.select-a-pokemon-interactable-element:focus,
.select-a-pokemon-non-interactable-element:focus {
  outline: none;
}

@keyframes pokeball-touch {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(8deg);
  }
  60% {
    transform: rotate(-8deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes pokeball-open {
  from {
    opacity: 1;
  }
  25% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}
